In [1]:
#find working dir
import os
os.getcwd()

'C:\\Users\\ahmad\\Downloads\\ ML'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_spss('basicstat.sav')
df

     Name  StudyTime  GamingHour   GPA
0   Monir        4.0         0.5  3.55
1    Jony        2.0         1.0  2.35
2   Sadia        3.0         0.5  3.07
3  Shakil        6.0         0.0  3.93
4    Anas        5.0         0.5  3.97
5    Kona        1.0         3.0  2.43
6    Sara        3.5         0.0  3.61
7   Hasib        4.0         0.5  3.67
8   Rakib        2.0         1.0  2.97
9   Saifa        1.5         2.0  2.81

In [4]:
df.count()

Name          10
StudyTime     10
GamingHour    10
GPA           10
dtype: int64

In [5]:
df.StudyTime.sum()

32.0

In [6]:
df.GamingHour.sum()

9.0

In [8]:
df.GamingHour.cumsum()

0    0.5
1    1.5
2    2.0
3    2.0
4    2.5
5    5.5
6    5.5
7    6.0
8    7.0
9    9.0
Name: GamingHour, dtype: float64

In [9]:
df.mean()

StudyTime     3.200
GamingHour    0.900
GPA           3.236
dtype: float64

In [10]:
df.median()

StudyTime     3.25
GamingHour    0.50
GPA           3.31
dtype: float64

In [12]:
df.StudyTime.mode()

0    2.0
1    4.0
dtype: float64

In [13]:
df.min()

Name          Anas
StudyTime      1.0
GamingHour     0.0
GPA           2.35
dtype: object

In [14]:
df.max()

Name          Shakil
StudyTime        6.0
GamingHour       3.0
GPA             3.97
dtype: object

In [23]:
range=df[['StudyTime','GamingHour','GPA']].max()-df[['StudyTime','GamingHour','GPA']].min()
range

StudyTime     5.00
GamingHour    3.00
GPA           1.62
dtype: float64

In [24]:
df.var()

StudyTime     2.566667
GamingHour    0.877778
GPA           0.351293
dtype: float64

In [25]:
df.std()

StudyTime     1.602082
GamingHour    0.936898
GPA           0.592700
dtype: float64

In [27]:
df.cov()

            StudyTime  GamingHour       GPA
StudyTime    2.566667   -1.200000  0.876444
GamingHour  -1.200000    0.877778 -0.418222
GPA          0.876444   -0.418222  0.351293

In [28]:
df.corr()

            StudyTime  GamingHour       GPA
StudyTime    1.000000   -0.799474  0.923006
GamingHour  -0.799474    1.000000 -0.753147
GPA          0.923006   -0.753147  1.000000

In [29]:
df.skew()

StudyTime     0.331346
GamingHour    1.499697
GPA          -0.283563
dtype: float64

In [30]:
df.kurtosis()

StudyTime    -0.737477
GamingHour    1.985173
GPA          -1.396490
dtype: float64

In [31]:
df.quantile(.25)

StudyTime     2.00
GamingHour    0.50
GPA           2.85
Name: 0.25, dtype: float64

In [32]:
iqr = df.quantile(.75)-df.quantile(.25)
iqr

StudyTime     2.000
GamingHour    0.500
GPA           0.805
dtype: float64

In [33]:
df.describe()

       StudyTime  GamingHour      GPA
count  10.000000   10.000000  10.0000
mean    3.200000    0.900000   3.2360
std     1.602082    0.936898   0.5927
min     1.000000    0.000000   2.3500
25%     2.000000    0.500000   2.8500
50%     3.250000    0.500000   3.3100
75%     4.000000    1.000000   3.6550
max     6.000000    3.000000   3.9700

In [ ]:
df.describe(in)